---
import Layout from "../layouts/Layout.astro";

import CrewPageBackground from "../components/CrewPageBackground.astro";
import CrewSlider from "../components/CrewSllider";
---

<Layout>
  <main class="p-6 flex-1 pt-[112px] h-[100dvh] flex md:p-10 md:pb-0 md:pt-[136px] xl:pt-[184px] xl:pb-12">
    <section class="flex-1 gap-6 flex flex-col xl:max-w-[1110px] xl:mx-auto">
      <h1 class="font-sans-codensed tracking-widest text-base text-center md:text-left md:text-xl">
        <span class="text-white/25 font-bold mr-6" aria-hidden="true">01</span><span class="text-white"
          >MEET YOUR CREW</span
        >
      </h1>

      <CrewSlider client:visible />
    </section>

    <CrewPageBackground />
  </main>
</Layout>
