---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="main_section relative h-screen overflow-hidden">
    <section
      class="absolute h-full p-6 flex flex-col max-w-screen-xl pt-32 md:px-10 md:py-32 md:gap-16 xl:-translate-x-1/2 xl:left-1/2 xl:w-full xl:flex-row xl:items-end xl:justify-between"
    >
    </section>
  </main>
</Layout>
