---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <p class="font-sans bg-theme-blue-300 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aspernatur.</p>
    <p class="font-sans_codensed bg-theme-blue-900 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aspernatur.</p>
    <p class="font-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aspernatur.</p>
</Layout>
