---
import HomepageBackground from "../components/HomepageBackground.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-6 flex-1 pt-[112px] h-[100dvh] flex md:px-10 md:pb-32 md:pt-[224px] xl:pt-[264px]">
    <section class="flex-1 flex flex-col md:gap-12 xl:flex-row">
      <div class="flex flex-col gap-6 md:max-w-lg md:mx-auto xl:justify-end">
        <p class="font-sans-codensed text-center text-theme-blue-300 md:text-[28px] md:tracking-[4px] xl:text-left">
          SO, YOU WANT TO TRAVEL TO
        </p>

        <p class="font-serif text-center text-white text-8xl md:text-[144px] xl:text-left">SPACE</p>

        <p class="font-sans text-center leading-8 text-theme-blue-300 xl:text-left">
          Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of
          on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
        </p>
      </div>

      <div
        class="flex-1 flex items-center justify-center md:max-w-[512px] md:mx-auto md:flex-none xl:items-end xl:pb-6"
      >
        <a
          href=""
          class="homepage_cta font-serif bg-white text-theme-blue-900 grid place-items-center w-36 h-36 rounded-full text-lg md:w-[272px] md:h-[272px] md:text-[32px]"
          >EXPLORE</a
        >
      </div>
    </section>

    <HomepageBackground />
  </main>
</Layout>

<style>
  .homepage_cta {
    position: relative;
  }

  .homepage_cta::after {
    --dimension: 100%;

    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    opacity: 10%;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 100%;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .homepage_cta:hover::after {
    --dimension: 200%;
  }
</style>
