---
import Layout from "../layouts/Layout.astro";

import TechnologyPageBackground from "../components/TechnologyPageBackground.astro";
import TechTabs from "../components/TechTabs.tsx";
---

<Layout>
  <main class="min-h-[100dvh] flex flex-1 p-6 pb-12 pt-[112px] md:p-10 md:pt-[136px] xl:pb-12 xl:px-0 xl:pt-[184px]">
    <section class="flex-1 gap-6 flex flex-col xl:max-w-[1110px] xl:mx-auto">
      <h1 class="font-sans-codensed tracking-widest text-base text-center md:text-left md:text-xl">
        <span class="text-white/25 font-bold mr-6" aria-hidden="true">03</span><span class="text-white"
          >SPACE LAUNCH 101</span
        >
      </h1>

      <TechTabs client:visible />
    </section>

    <TechnologyPageBackground />
  </main>
</Layout>
